body{
	background-color: gray;
}
.Header{
	height: 80px;
	background-color: gray;
	display: flex;
	justify-content: center;

}
.Header input{
margin-top: 3px;
	height: 20px;
	border:2px solid black;
border-radius: 10px;
}
.Header button{

border: 2px solid Black;
border-radius: 10px;
height: 26px;
}
.inpBtn{
	margin-top: 20px;
	background-color: black;
	height: 33px;
	border: 1px solid ;
	border-radius: 10px;
}